.centerbox{
    -webkit-order: 2;
    order: 2;
}

.jspsych-instructions-nav {
    -webkit-order: 3;
    order: 3;
}

.sample_img {
    margin: auto;
    text-align: center
}

.display_stage{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center; -moz-box-align: center; /* OLD… */
    -ms-flex-align: center; 
    -webkit-align-items: center;
    align-items: center;
}


.center-content{
	-webkit-order: 2;
    order: 2;
}

#bottom_img{
    height:132px;
    width: 351px
}

img {
    align: middle;
}

#jspsych-poldrack-survey-multi-choice-form {
    -webkit-order: 1;
    order: 1;
    margin: 3vh 3vw auto 3vw;
}

.jspsych-survey-multi-choice-nav{
    -webkit-order: 3;
    order: 3;
}

.jspsych-poldrack-survey-multi-choice-opts {
    font-size: 20px;
}
.radio-list {
    list-style-type: none;  /* 기본 리스트 스타일 제거 */
    padding: 0;
    display: flex;  /* Flexbox를 사용하여 수평 정렬 */
    justify-content: center;  /* 가운데 정렬 */
    align-items: center;  /* 세로 가운데 정렬 */
  }
  
  .radio-list li {
    margin-right: 20px;  /* 각 항목 사이의 간격을 추가 */
    display: flex;
    flex-direction: column;  /* 라디오 버튼이 위, 라벨이 아래로 배치 */
    align-items: center;  /* 중앙 정렬 */
  }
  
  .radio-container input[type="radio"] {
    appearance: none;  /* 기본 브라우저 스타일 제거 */
    width: 20px;  /* 라디오 버튼 크기 */
    height: 20px;
    border-radius: 50%;  /* 둥근 모양으로 */
    background-color: #fff;  /* 배경 색 */
    border: 2px solid #007BFF;  /* 테두리 색상 */
    outline: none;  /* 선택 시 외곽선 제거 */
    cursor: pointer;  /* 클릭 가능한 커서 */
    position: relative;
  }
  
  .radio-container input[type="radio"]:checked::before {
    content: '';
    display: block;
    width: 10px;  /* 선택된 상태의 내부 원 크기 */
    height: 10px;
    border-radius: 50%;
    background-color: #007BFF;  /* 선택된 상태의 색상 */
    position: absolute;
    top: 5px;
    left: 5px;
  }
  
  .radio-container label {
    margin-top: 10px;  /* 라벨과 라디오 버튼 사이 간격 */
    font-size: 16px;
    cursor: pointer;  /* 클릭 가능한 커서 */
    text-align: center;  /* 중앙 정렬 */
  }
  
  .radio-container input[type="radio"]:hover {
    border-color: #0056b3;  /* 마우스 오버 시 테두리 색상 변경 */
  }
  